<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.page.title || "Ingen titel" %> - Firmafon API Documentation</title>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="contain-to-grid fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "Firmafon API", "/" %></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul>
            <li class="has-dropdown rest">
              <%= link_to "REST", "/rest/" %>
              <ul class="dropdown">
                <li><%= link_to "Authentication", "/rest/authentication/" %></li>
                <li><%= link_to "Resources", "/rest/resources/" %></li>
              </ul>
            </li>
            <li class="has-dropdown integrations">
              <%= link_to "Integrations", "/integrations/" %>
              <ul class="dropdown">
                <li>
                  <%= link_to "Iframe", "integrations/iframe/" %>
                </li>
              </ul>
            </li>
            <li class="developer">
              <a href="https://app.firmafon.dk/developers/">Developer Account</a>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <section id="content" class="container">
      <div class="row">
        <%= yield %>
        <section id="foot">
          <footer class="medium-12 columns">
            <p>Support: <a href="https://kunderservice.firmafon.dk">Kundeservice</a></p>
          </footer>
        </section>
      </div>
    </section>
    <%= javascript_include_tag  "application" %>
  </body>
</html>
