---
title: Resources
layout: rest_layout
---

## <a href="#announcements" name="announcements">Announcements</a>

Announcements are general news about the system. They are shown in the `/agent` interface until dismissed. Dismissing an announcement should [mark it as read](#post_announcements_id_mark_as_read).

### <a href="#get_announcements" name="get_announcements">GET /announcements</a>

<%= response(
  announcements: [resource(:announcement)]
) %>

<h3><a href="#post_announcements_id_mark_as_read" name="post_announcements_id_mark_as_read">POST /announcements/:id/mark_as_read</a></h3>

<%= parameters(
  id: '**Required:** ID of the announcement'
) %>

<%= response(
  announcement: resource(:announcement)
) %>

## <a href="#calls" name="calls">Calls</a>

Oh Calls, where do we begin?

If all you're trying to do is get some historical data then there's not much to it.

If you want to _understand_ how it's all connected, [read the detailed Calls guide](/rest/calls/).

### <a href="#get_calls" name="get_calls">GET /calls</a>

<%= parameters(
  limit: 'Specify how many you want. Default: 30, Maximum: 100.',
  endpoint: 'Filter calls by `endpoint`. Example: `Reception#123`.',
  number: 'Filter calls by a number. Either to or from. Example: `4512345678`.',
  started_at_lt_or_eq: "Page the calls by using the `started_at` attribute of the last of the already fetched calls. Example: `#{Time.now.to_s}`."
) %>

<%= response(
  calls: [resource(:call)]
) %>

### <a href="#get_calls_id" name="get_calls_id">GET calls/:id</a>

<%= response(
  call: resource(:call)
) %>

## <a href="#call_nodes" name="call_nodes">CallNodes</a>

A CallNode is a ... OH GOD WHERE DO I START

If you want to _understand_ how it's all connected, [read the detailed Calls guide](/rest/calls/).

### <a href="#get_call_nodes_live" name="get_call_nodes_live">GET /call_nodes/live</a>

Get all current live nodes for the authorized user.

<%= response(
  call_nodes: [resource(:call_node)]
) %>

<h3><a href="#post_call_nodes_node_uuid_cancel_transfer" name="post_call_nodes_node_uuid_cancel_transfer">POST /call_nodes/:node_uuid/cancel_transfer</a></h3>

Cancel an active transfer. This is also what you want to do if you want to _take back the call_.

<%= parameters(
  node_uuid: "**Required.** UUID of the node."
) %>

**Returns status code `200`.**

<h3><a href="#post_call_nodes_node_uuid_node_uuid_hangup" name="post_call_nodes_node_uuid_node_uuid_hangup">POST /call_nodes/:node_uuid/node_uuid/hangup</a></h3>

Hang up the given CallNode.

<%= parameters(
  node_uuid: "**Required.** UUID of the node."
) %>

**Returns status code `200`.**

<h3><a href="#post_call_nodes_node_uuid_transfer" name="post_call_nodes_node_uuid_transfer">POST /call_nodes/:node_uuid/transfer</a></h3>

Start a transfer of the given call node to the given endpoint.

<%= parameters(
  node_uuid: "**Required.** UUID of the node.",
  endpoint: '**Required.** What to transfer to. Example: `Reception#1`.',
  type: '**Required.** Type of transfer.<br>Possible values: `[attended|direct]`.'
) %>

<h3><a href="#get_call_nodes_node_uuid" name="get_call_nodes/:node_uuid">GET /call_nodes/:node_uuid</a></h3>

Get info about a given CallNode.

<%= parameters(
  node_uuid: "**Required.** UUID of the node."
) %>

<%= response(
  call_node: resource(:call_node)
) %>

## <a href="#contacts" name="contacts">Contacts</a>

Contacts are additional info about a given phone number. They are either provided by Firmafon's internal lookups or by the employee or their colleagues ie. through an Integration.

### <a href="#get_contacts" name="get_contacts">GET /contacts</a>

<%= parameters(
  number: '**Required.** Example: `4512345678`'
) %>

<%= response(
  contact: resource(:contact)
) %>

### <a href="#post_contacts" name="post_contacts">POST /contacts</a>

Create a contact. These map to the fields `to_contact` and `from_contact` in Calls.

<%= parameters(
  'contact[number]' => '`4512345678`',
  'contact[name]' => 'Karsten Kontaktbegreb',
  'contact[email]' => 'karsten@example.com'
) %>

<%= response(
  contact: resource(:contact)
) %>

### <a href="#get_contacts_id" name="get_contacts_id">GET /contacts/:id</a>

<%= response(
  contact: resource(:contact)
) %>

### <a href="#put_contacts_id" name="put_contacts_id">PUT /contacts/:id</a>

Update a contact.

<%= parameters(
  'contact[number]' => '`4512345678`',
  'contact[name]' => 'Karsten Kontaktbegreb',
  'contact[email]' => 'karsten@example.com'
) %>

<%= response(
  contact: resource(:contact)
) %>

### <a href="#delete_contacts_id" name="delete_contacts_id">DELETE /contacts/:id</a>

<%= parameters(
  id: '**Required:** ID of the contact'
) %>

**Returns nothing with status code `200`**

## <a href="#employees" name="employees">Employees</a>

Employees are your colleagues.

### <a href="#get_employee" name="get_employee">GET /employee</a>

Returns an Employee object of the authenticated employee.

<%= response(
  employee: resource(:employee)
) %>

### <a href="#get_employees" name="get_employees">GET /employees</a>

Returns an array of the current employee's colleagues ordered by first name.

<%= response(
  employees: [resource(:employee)]
) %>

### <a href="#get_employees_id" name="get_employees_id">GET /employees/:id</a>

Returns a specific colleague.

<%= parameters(
  id: '**Required:** ID of the employee'
) %>

<%= response(
  employee: resource(:employee)
) %>

### <a href="#put_employees_id" name="put_employees_id">PUT /employees/:id</a>

Update an employee.

<%= parameters(
  id: '**Required:** ID of the employee',
  "employee[do_not_disturb]" => '`true` | `false`',
  "employee[dnd_timeout_at]" => '2013-12-16T17 =>12 =>26+01 =>00',
  "employee[employee_group_ids]" => "[1, 2] **Requires admin privileges.**"
) %>

<%= response(
  employee: resource(:employee)
) %>

### <a href="#post_employees_id_message" name="post_employees_id_message">POST /employees/:id/message</a>

Send an SMS to the given employee. **NB: These are cheap but [not free](https://www.firmafon.dk/prisliste/ "Firmafon Prisliste") - Look for "Web SMS".

The sender will be shown as either the current employee's number or name.

Not available for companies in trial.

<%= parameters(
  id: '**Required:** ID of the employee',
  "message[body]" => '**Required:** The contents of your message.'
) %>

<%= response(
  { sent: true }
) %>

## <a href="#employee_groups" name="employee_groups">EmployeeGroups</a>

### <a href="#get_employee_groups" name="get_employee_groups">GET /employee_groups</a>

Returns a collection of EmployeeGroups.

<%= response(
  employee_groups: [resource(:employee_group)]
) %>

### <a href="#get_employee_groups_id" name="get_employee_groups_id">GET /employee_groups/:id</a>

Returns a specific EmployeeGroup.

<%= parameters(
  id: '**Required:** ID of the employee group',
) %>

<%= response(
  employee_group: resource(:employee_group)
) %>

### <a href="#post_employee_groups_id_join" name="post_employee_groups_id_join">POST /employee_groups/:id/join</a>

Join an employee group as the current employee.

**NB:** Requires switch for current employee.

<%= parameters(
  id: '**Required:** ID of the employee group',
) %>

<%= response(
  employee_group: resource(:employee_group)
) %>

### <a href="#post_employee_groups_id_leave" name="post_employee_groups_id_leave">POST /employee_groups/:id/leave</a>

Leave an employee group as the current employee.

**NB:** Requires switch for current employee.

<%= parameters(
  id: '**Required:** ID of the employee group',
) %>

<%= response(
  employee_group: resource(:employee_group)
) %>

### <a href="#post_employee_groups_id_message" name="post_employee_groups_id_message">POST /employee_groups/:id/message</a>

Send an SMS to every employee in the given employee group. **NB: These are cheap but [not free](https://www.firmafon.dk/prisliste/ "Firmafon Prisliste") - Look for "Web SMS".

The sender will be shown as either the current employee's number or name.

Not available for companies in trial.

<%= parameters(
  id: '**Required:** ID of the employee group',
  "message[body]" => '**Required:** The contents of your message.'
) %>

<%= response(
  { sent: true }
) %>

## <a href="#receptions" name="receptions">Receptions</a>

### <a href="#get_receptions" name="get_receptions">GET /receptions</a>

Get a collection of Receptions.

<%= response(
  receptions: [resource(:reception)]
) %>

### <a href="#get_receptions_id" name="get_receptions_id">GET /receptions/:id</a>

Get a specific Reception.

<%= parameters(
  id: '**Required:** ID of the reception.',
) %>

<%= response(
  reception: resource(:reception)
) %>

## <a href="#voice_mails" name="voice_mails">VoiceMails</a>

### <a href="#get_voice_mails" name="get_voice_mails">GET /voice_mails</a>

<%= parameters(
  limit: 'Specify how many you want. Default: 30, Maximum: 100.',
  endpoint: 'Filter voice_mails by `endpoint`. Example: `Reception#123`.',
  number: 'Filter voice_mails by a number. Either to or from. Example: `4512345678`.',
  created_at_lt_or_eq: "Page the voice_mails by using the `started_at` attribute of the last of the already fetched voice_mails. Example: `#{Time.now.to_s}`."
) %>

<%= response(
  voice_mails: [resource(:voice_mail)]
) %>

### <a href="#get_voice_mails_id" name="get_voice_mails_id">GET /voice_mails/:id</a>

Get a specific voice mail.

<%= parameters(
  id: '**Required:** ID of the voice mail.',
) %>

<%= response(
  voice_mail: resource(:voice_mail)
) %>

### <a href="#put_voice_mails_id" name="put_voice_mails_id">PUT /voice_mails/:id</a>

Update a specific voice mail.

<%= parameters(
  id: '**Required:** ID of the voice mail.',
  "voice_mail[heard]" => "true"
) %>

<%= response(
  voice_mail: resource(:voice_mail)
) %>

### <a href="#delete_voice_mails_id" name="delete_voice_mails_id">DELETE /voice_mails/:id</a>

Delete a specific voice mail.

<%= parameters(
  id: '**Required:** ID of the voice mail.'
) %>

**Returns status code `200`.**

